{% extends "base.html" %}

{% block title %}User Profile - E-Shop{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">User Profile</h2>
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <!-- Add more user details and edit functionality if needed -->
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>
            
        </div>
    </div>
</div>
{% endblock %}
